[Unit]
Description=dotshake daemon
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

[Service]
User=root
Type=simple
ExecStart=/bin/dotshake up
Restart=on-failure
RestartSec=15s

[Install]
wantedby=multi-user.target
